.header {
    background-color: #FF6347;
    padding: 1rem;
}

.navbarHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logoHeader,
.navbarList {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logoHeader img {
    width: 120px;
}

.logoHeader h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #FAFAFA;
}

.logoHeader h1::after {
    background-color: #00FA9A;
    content: "";
    display: block;
    margin-top: 0.2rem;
    height: 0.2rem;
    width: 5%;
    float: left;
    transition: width 800ms ease-in-out;
}

.logoHeader h1:hover:after{
    transition: width 800ms ease-in-out;
    width: 100%;
    background-color: #00FA9A;
}

.navbarList li a {
    font-size: 1.4rem;
    background-color: #FAFAFA;
    color: #FF6347;
    padding: .4rem .6rem;
    border-radius: .6rem;
}

.navbarList li a:hover{
    background-color: #FF6347;
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
    transition: 300ms;
}