.footer{
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem; 
    color: #FAFAFA;
    margin-top: auto; 
}

.contact li img {
    width: 40px;
}

.contact ul{
    display: flex;
    align-items: center;
}

.contact ul li + li {
    margin-left: .5rem;
}