.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erro {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4.5rem;
    color: #333333;
}

.main img {
    margin-bottom: 1.5rem;
    width: 300px;
}

.main p {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2.25rem;
    color: #333333;
    margin-bottom: 1rem;
}

.main a {
    background-color: #FF6347;
    padding: 0.5rem 2rem;
    border-radius: 0.4rem;
    color: #FAFAFA;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.25rem;

}
